.cart-items-container{
    list-style-type:none;
    padding-left: 0px;
    display:flex;
    flex-direction:column;
}
.cart-item{
    display:flex;
   align-items: center;
   padding:15px 25px;
   box-shadow:0px 4px 6px 0px  #919191 ;
   border-radius: 8px;
   margin-bottom:18px
}
@media screen and (max-width:768px) {
    .cart-item{
    padding:8px 10px;
    margin-bottom: 12px;
}
}
.cart-product-image{
    width:96px;
    height:96px;
    border-radius:6px    
}
.cart-item-details-container{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left:12px;
    flex-grow:1;
}
@media screen and (max-width:768px){
    .cart-item-details-container{
       flex-direction:column;
       justify-content: flex-start;
       align-items: flex-start;
       margin-left:14px;
    }
 }
.cart-item-title-and-brand-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
 }
 @media screen and (max-width:768px){
    .cart-item-title-and-brand-container{
        width:250px;
    }
 }
.cart-product-title{
font-size:16px;
font-weight:500;
margin-bottom:0px;
margin-top:0;
color:#171f46;
}
@media screen and (max-width:768px){
    .cart-product-title{
        font-size:14px;
    }
}
.cart-product-brand{
    font-size:12px;
    color:#64748b;
}
@media screen and (max-width:768px){
    .cart-product-brand{
        font-size:10px;
    }
}
.cart-item-quantity-container{
    display:flex;
    flex-direction:row;
    align-items: center;
    width:110px;
}
@media screen and (max-width:768x){
    .cart-item-quantity-container{
        width:100%;
    }
}
.quntity-controler-button{
    border:none;
    background-color:transparent;
    outline:none;
    cursor:pointer;
    margin:0px;
    padding:0px;
}
.quantity-of-each-item{
    font-size:12px;
    color:#52606d;
    font-weight:500;
    line-height:1.5;
    padding-left:8px;
    padding-right:8px;
}
@media screen and (min-width:768px) {
    .quantity-of-each-item{
        font-size: 16px;
        padding-left:16px;
        padding-right:16px;
    }
    
}
.cart-item-price-and-remove-container{
    display:flex;
    align-items:center;
}
.price-of-each-item{
    font-size:16px;
    color:#0b69ff ;
    margin-right:12px ;
    width:120px
}
@media screen and (max-width:768px){
    .price-of-each-item{
        font-size:14px;
        width:140px;
    }
}
.remove-button {
    background-color: transparent;
    color: #334155;
    font-family: 'Roboto';
    font-size: 10px;
    line-height: 16px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  @media screen and (min-width: 768px) {
    .remove-button {
      display: none;
    }
  }
  
  .delete-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 32px;
  }
  
  @media screen and (max-width: 767px) {
    .delete-button {
      display: none;
    }
  }
  